<div class="d-flex schedule-menu position-relative">
  <div class="d-flex position-absolute option-schedule">
    <button class="btn btn-primary option-schedule-detail">Tuần</button>
    <button class="btn btn-primary option-schedule-detail">Tháng</button>
  </div>
  <div class="position-absolute button-add-schedule">
    <button class="btn btn-primary">Thêm lịch làm việc</button>
  </div>
</div>
<div class="table">
    <table class="schedule-table">
        <thead>
            <th></th>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>
        </thead>
        <tbody>
            <tr>
                <td>Sáng</td>
                <td></td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
            <tr>
                <td>Chiều</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
                <td>v</td>
            </tr>
        </tbody>
    </table>
</div>
  