@import "~bootstrap/scss/bootstrap";

.schedule-menu{
    top:0;
    left:0;
    right: 0;
    height: 40px;
    margin-bottom: 4px;
    .option-schedule{
        left:0;
        .option-schedule-detail{
            cursor: pointer;
        }
     }
    
     .button-add-schedule{
        right:0;
        button{
            cursor: pointer;
        }
     }
}
.table{
    .schedule-table{
        width: 100%;
    }   
} 